link {
    color: inherit;
    text-decoration: none;
}
link:visited{
    color: inherit;
    text-decoration: none;
}
link:active{
    color: inherit;
    text-decoration: none;
}
.back-img{
    display: none;
}
.play-icon{
    display: none;
}
.volume-icon{
    display: none;
}
.mini-webplayer{
    background-color: rgb(34, 33, 33);
    width:100vw;
    height:75px;
    bottom: 0;
    position: fixed;
}  
.main-cards{
    background-color: rgb(42, 42, 42);
    width: 120px;
    height: 100px;
}
.img-cards{
    width: 60px;
}

.main-cards p{
    font-size: 15px;
    text-align: left;
}
@media (min-width:576px){
    .main-cards{
        background-color: rgb(42, 42, 42);
        width: 200px;
        height: 240px;
    }
    .img-cards{
        width: 200px;
       
    }
    
    .main-cards p{
        font-size: 20px;
        text-align: left;
    }
    
}@media (min-width:786px){
    .web-player{
        display: block;
        background-color: rgb(34, 33, 33);
    }  
    .back-img{
        display: block;
    } 
    
}
@media (min-width:992px){
    .mini-webplayer{
        display: none;
    }
    
}
@media (min-width:1200px){
    
}
@media (min-width:2200px){
    
}