body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('justinbieber.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.main-cards {
    background-color: rgb(42, 42, 42);
    width: 120px;
    height: 100px;
}

.img-cards {
    width: 60px;
}

.main-cards p {
    font-size: 15px;
    text-align: left;
}
a:link{
    color: inherit;
}
a:visited{
    color:inherit;
}
a:hover{
    color: inherit;
}
.artist-image-style{
height: 50px;
    width: 50px;
    object-fit: contain; 
}
.song-info p{
font-size: 15px;
white-space: nowrap;
width: 90px;
overflow: hidden;
text-overflow: ellipsis;
}
.fa-backward {
    display: none;
}
.fa-forward{
    display: none;
}
#current_time{
    display: none;
}
.fa{
font-size: 30px;
}
.volume{
    display: none;
}
.volume-bar{
   display: none;
}
.volume-bar:after{
display: none;
}

.back-img {
    display: block;
    font-size: 10px;
}
.web-player {
    width:100vw;
    height:105px;
    bottom: 0;
    display: block;
    background-color: rgb(34, 33, 33);
}
.web-progressbar{
    width:150px;
    height:3px;
    border-radius: 100px;
    background-color:rgba(133, 132, 132, 0.507);
}
.web-progressedbar{
    height:3px;
    width:0%;
    border-radius: 100px;
    background-color: rgb(254, 255, 254);
 transition: all 0.5s;
   position: relative;
}
.web-progressedbar:after{
    content: "";
    position:absolute;
    border-radius: 10px;
    right:-10px;
    top:-3.70px;
    width:10px;
    height:10px;
    background-color: lawngreen;
}
.play-info{
    display: none;
}

.banner {
    display: flex;
    flex-direction: column;
    height: 900px;
    margin-top: 36%;
}

.banner-1 p:nth-child(2) {
    font-size: 30px;
    font-weight: 700
}

.banner-2 {
    
    background-image: linear-gradient(to right, rgba(0, 46, 73, 0.986), rgb(20, 20, 20));
}

/* .back-img {
    display: none;
} */

/* .play-icon {
    display: none;
} */

/* .volume-icon {
    display: none;
} */

.mini-webplayer {
    background-color: rgb(34, 33, 33);
    width: 100vw;
    height: 75px;

    bottom: 0;
    position: fixed;
}
@media (min-width:375px) {
    .web-progressbar{
        width:250px;
        height:3px;
        border-radius: 100px;
        background-color:rgba(133, 132, 132, 0.507);
    }
}
@media(min-width:400px) {
    .main-cards {
        background-color: rgb(42, 42, 42);
        width: 150px;
        height: 150px;
    }
    .img-cards {
        width: 100px;
    }
}
@media (min-width:576px) {
    .play-info{
        display: block;
    }
    .main-cards {
        background-color: rgb(42, 42, 42);
        width: 200px;
        height: 240px;
    }
    .img-cards {
        width: 200px;
    }
    .main-cards p {
        font-size: 20px;
        text-align: left;
    }  
}

@media (min-width:768px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url('justinbieber.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .banner-1 p {
        font-size: 18px;
    }
    .banner-1 p:nth-child(2) {
        font-size: 50px;
        font-weight: 700;
    }
    .web-player {
        width:100vw;
        height:105px;
        bottom: 0;
        display: block;
        background-color: rgb(34, 33, 33);
    }
  .fa{
      font-size: 35px;
  }
  .fa-backward {
    display: block;
}
.fa-forward{
    display: block;
}

    .web-progressbar{
        width:600px;
        height:5px;
        border-radius: 100px;
        background-color:rgba(133, 132, 132, 0.507);
    }
    .progress_bar{
        width:200px;
        height:5px;
        border-radius: 100px;
        background-color:rgba(133, 132, 132, 0.507);
    }
    .progressed:hover{
        background-color: green;
    }
    .web-progressedbar{
        height:5px;
        width:0%;
        border-radius: 100px;
        background-color: rgb(254, 255, 254);
     transition: all 0.5s;
       position: relative;
    }
    .web-progressedbar:after{
        content: "";
        position:absolute;
        border-radius: 10px;
        right:-10px;
        top:-3.70px;
        width:12px;
        height:12px;
        background-color: lawngreen;
    }
    .back-img {
        display: block;
    }
    .mini-webplayer {
        display: none;
        z-index: -1;
    }
}

@media (min-width:992px) {
    .banner {
        display: flex;
        flex-direction: column;
        height: 900px;
        margin-top: 26%;
    }
    .banner-1 p {
        font-size: 20px;
    }
    .banner-1 p:nth-child(2) {
        font-size: 50px;
    }
    .mini-webplayer {
        display: none;
        z-index: -1;
    }

    .fa{
        font-size: 45px;
    }
    .song-info p{
        font-size: 20px;
        white-space: nowrap;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        }
        #current_time{
            display:block;
        }
        
    }

@media (min-width:1200px) {
    .banner {
        display: flex;
        flex-direction: column;
        height: 900px;
        margin-top: 22%;
    }
    .banner-1 p:nth-child(2) {
        font-size: 90px;
    }
    .banner-1 p {
        font-size: 20px;
    }
}

@media (min-width:2200px) {
    .banner-1 p:nth-child(2) {
        font-size: 130px;
    }
    .banner-1 p {
        font-size: 40px;
    }
    
}